<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Стандартик</title>

	<script src="static/libs/jquery/dist/jquery.min.js"></script>
	<script src="static/libs/angular/angular.min.js"></script>

	<link rel="stylesheet" href="static/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/libs/zoomcharts/zoomcharts.css">
	<link rel="stylesheet" href="static/styles/index.css">

	<script src="static/libs/zoomcharts/zoomcharts.js"></script>
	<script src="static/scripts/index.js"></script>

	<script src="static/scripts/directives/search/search.directive.js"></script>
</head>
<body ng-app="scimap" ng-controller="Main" ng-init="init()">

	<div class="map">
		<div id="demo"></div>
	</div>

	<div class="info">
		<!-- <search></search> -->
		<search on-select="onSelect($event)"></search>
	</div>

</body>
</html>