<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Стандартик</title>

	<script src="static/libs/jquery/dist/jquery.min.js"></script>
	<script src="static/libs/angular/angular.min.js"></script>

	<link rel="stylesheet" href="static/libs/zoomcharts/zoomcharts.css">

</head>
<body ng-app="scimap" ng-controller="Main" ng-init="init()">

	<div id="demo"></div>

	
	<div ng-repeat="node in nodes">
		{[ node.title ]}
	</div>
	
	<!-- {% for node in nodes %}
	<a href="/node/{{ node.id }}"><div>

		<div><h3>{{ node.title }}</h3></div>
		<div>{{ node.description }}</div>
		<br>
		<div>node.created:{{ node.created }}</div>
		<div>node.updated:{{ node.updated }}</div>
	</div></a>
	{% endfor %} -->
	<script src="static/libs/zoomcharts/zoomcharts.js"></script>
	<script src="static/scripts/index.js"></script>
</body>
</html>