html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.map {
	width: calc(100% - 400px);
	display: inline-block;
	float: left;

}
.info {
	width: 400px;
	display: inline-block;
	background: white;
	border-left: 1px solid #d6d6d6;
	height: 100%;
	float: left;
}
.info .search-field {
	padding: 20px 15px;
	border-bottom: 1px solid #d6d6d6;
	background: #fafafa;
}